.big-content
	.header-faq.left=t'cc'
	.clearboth
	.content
		%br
		.h2
			.tit
				Ban Giám đốc
			.cont
				Nguyễn Thị Hồng Hường
				%a(href="mailto:nthhuong@hcmut.edu.vn") nthhuong@hcmut.edu.vn
			.cont
				Ngô Thị Thanh Hương
				%a(href="mailto:thanhhuong@hcmut.edu.vn") thanhhuong@hcmut.edu.vn
			%br
			.tit
				Xử lý thông tin
			.cont
				Nguyễn Thị Diệu Trinh
				%a(href="mailto:ntdtrinh@hcmut.edu.vn") ntdtrinh@hcmut.edu.vn
			.cont
				Lê Thị Tuyền
				%a(href="mailto:lttuyen@hcmut.edu.vn") lttuyen@hcmut.edu.vn
			%br
			.tit
				Nhóm CNTT
			.cont
				Đặng Thành Lâm
				%a(href="mailto:dtlam@hcmut.edu.vn") dtlam@hcmut.edu.vn
			.cont
				Đỗ Thị Thêm
				%a(href="mailto:dtthem@hcmut.edu.vn") dtthem@hcmut.edu.vn
			%br
			.tit
				Phục vụ bạn đọc
			.cont
				Nguyễn Thị Như Quỳnh
				%a(href="mailto:ntnquynh@hcmut.edu.vn") ntnquynh@hcmut.edu.vn
			.cont
				Thái Thị Ánh Tuyết
				%a(href="mailto:ttatuyet@hcmut.edu.vn") ttatuyet@hcmut.edu.vn
			.cont
				Trần Thị Bích Thuận
				%a(href="mailto:ttbthuan@hcmut.edu.vn") ttbthuan@hcmut.edu.vn
			%br
			.tit
				Dịch vụ tham khảo
			.cont
				Đỗ Thị Thêm
				%a(href="mailto:dtthem@hcmut.edu.vn") dtthem@hcmut.edu.vn
			.cont
				Phạm Thụy Vi
				%a(href="mailto:ptvi@hcmut.edu.vn") ptvi@hcmut.edu.vn