<h2>Câu hỏi thường gặp</h2>
<p>Là SV Đại học Bách Khoa, tôi có phải làm thẻ thư viện không ?
Không. Bạn sử dụng thẻ Sinh viên (thẻ từ) do Trường ĐHBK cấp để mượn tài liệu và sử dụng các tiện ích khác tại Thư viện.
 
Tôi ở ngoài Trường Đại học Bách khoa, tôi muốn đọc tài liệu TV được không ?
Đối tượng bạn đọc của TV là Giảng viên, cán bộ nghiên cứu, nghiên cứu sinh, học viên Sau Đại học và sinh viên thuộc Trường Đại học Bách Khoa - Đại học Quốc gia TP.HCM. Bạn mang Giấy giới thiệu và giấy tờ tuỳ thân khi đến liên hệ, để được TV giúp đỡ tìm tư liệu.
Thứ bảy và Chủ nhật, TV có làm việc không ? Phòng nào làm việc sau giờ hành chánh ?
Phòng đọc Sau Đại học và Phòng Mượn sách Lầu A2 làm việc ngày thứ Bảy.
Phòng đọc Sau Đại học và Phòng Đọc Trệt A2 làm việc sau giờ hành chánh đến 18.00 giờ.
 
Thẻ Sinh viên của tôi bị hỏng (Thẻ bị gãy, hình và thông tin cá nhân không rõ,…). Tôi có được mượn sách không ?
Bạn phải liên hệ phòng Đào tạo để được cấp thẻ mới. Tuy nhiên, trong thời gian chờ nhận thẻ, Bạn sẽ sử dụng “Giấy chứng nhận SV” để đọc, mượn sách (lưu ý: giấy chứng nhận SV phải có hình được đóng dấu giáp lai và có chữ ký xác nhận của Trưởng Phòng đào tạo)
Tôi muốn mang túi xách vào trong thư viện. Có được không ?
Không.Bạn cần phải:
-          Nhận chìa khóa tủ tại Quầy tiếp sinh viên ngay cửa chính Thư viện
-          Tự cất tư trang và vật dụng tại tủ cất đồ. (Lưu ý không để tiền và các vật dụng có giá trị trong tủ)
-          Trả lại chìa khoá trước khi rời khỏi TV.
Tôi muốn mang sách của tôi vào TV đọc.
Không. Bạn nên đọc sách của mình ở khu vực tự học (tiền sảnh lầu A2).
Hiện nay, TV chưa trang bị được hệ thống cổng từ, nếu bạn mang sách của mình vào, TV sẽ không kiểm soát được
 
TV vui lòng cho tôi biết số trên nhãn ở gáy sách là gì ?
Đó là chỉ số DDC (Dewey Decimal Classification), còn gọi là chỉ số phân loại của sách. TV sử dụng Khung phân loại thập phân Dewey (DDC) để phân loại tài liệu. Như vậy bạn lưu ý các tài liệu có cùng nội dung sẽ có chung chỉ số phân loại (biểu thị bằng chữ số Ả rập, xếp theo thứ tự tăng dần).
Ví dụ: Toán học 510, Hoá học 540, Công nghệ hoá học 660.(Bạn vui lòng xem thêm hướng dẫn tại trang Web: www.lib.hcmut.edu.vn )
 
Tôi muốn mượn sách đang trưng bày hoặc đang để ở phòng nghiệp vụ.
Được. Bạn liên lạc với cán bộ phòng Nghiệp vụ để được giải quyết yêu cầu của bạn.
 
 
Tôi muốn mượn sách về nhà.
Bạn mượn sách tại phòng đọc lầu A2. Bạn phải trả đúng hạn nếu không muốn bị phạt (Xem Quy định mượn sách về nhà)
 
Tại sao TV rất hạn chế cho mượn sách kho Lưu ?
Tài liệu kho Lưu ngoại văn đa số là tài liệu độc bản (Một số tên sách đặc biệt quý, hiếm). Trong trường hợp các Bạn mượn về nhà, TV không thể phục vụ Bạn đọc khác đang có yêu cầu. Mong Bạn thông cảm.
 
Thư viện có thể giải quyết yêu cầu cho mượn Bộ Sách Giáo trình/ Năm học được không ?
Thư viện không có chính sách bao cấp giáo trình.
Hàng năm, giáo trình phục vụ môn học đều có biên tập nội dung; tái bản và chỉnh sửa, nên việc lưu trữ số lượng tài liệu đủ phục vụ Bộ sách Giáo trình/ Năm học như Bạn đề nghị không hiệu quả về kinh tế.
 
Tài liệu tôi đang mượn đọc rất hay, tôi muốn gia hạn thời gian mượn thêm vài lần nữa có được không?
Nếu không có ai đăng ký mượn, Bạn sẽ được giải quyết theo quy định.
 
Tôi muốn tham khảo Tiêu chuẩn kỹ thuật.
Ban vui lòng liên hệ phòng đọc Sau Đại học Lầu A2 để được phục vụ.
 
Tôi muốn đọc Báo-Tạp chí.
Ban vui lòng liên hệ phòng đọc SK-Telecom, Lầu A2 để được phục vụ.
 
Tôi muốn đọc Tạp chí chuyên ngành.
Ban vui lòng liên hệ phòng đọc Sau Đại học Lầu A2 để được phục vụ.
 
Tôi muốn mượn Báo – Tạp chí về nhà.
Không được. Bạn vui lòng đọc tại chổ.
 
Tôi muốn tham khảo Luận án, Luận văn Sau Đại học.
Ban vui lòng liên hệ phòng đọc Sau Đại học Lầu A2 để được phục vụ.
 
Tôi muốn tham khảo Luận văn Đại học.
Ban vui lòng liên hệ các Khoa. Thư viện không lưu trữ Luận văn Đại học
 
TV có dịch vụ in ấn, sao chép đĩa và photo tài liệu hay không?
Có. Bạn liên hệ thủ thư phòng đọc để được hướng dẫn.
 
Nhưng TV không cho phép tôi sao chép CD Luận án, Luận văn SĐH.
Bạn không được sao chép CD Luận án, Luận văn SĐH.
 
Tôi muốn mang máy tính xách tay vào phòng đọc.
Được mang máy tính xách tay vào phòng đọc Sau Đại học.
 
Tôi muốn mượn băng, dĩa về nhà.
Không được. Bạn vui lòng đọc tại chổ.
 
Khi sách có kèm băng, dĩa thì tôi phải mượn ở đâu?
Xin vui lòng liên hệ thủ thư để được giúp đỡ.
 
Tôi là SV năm đầu của ĐHBK, tôi muốn được đọc tài liệu tại phòng đọc Sau Đại học nhưng không được giải quyết. Xin cho tôi biết rỏ hơn về đối tượng sử dụng phòng đọc này?
Tên gọi của phòng đọc đã phản ánh được đối tượng phục vụ là CBGD và học viên SĐH của các trường trực thuộc ĐHQG. Tuy nhiên Bạn là SV đang có đề tài nghiên cứu, hoặc đang tham gia đề tài nghiên cứu khoa học, TV vẫn giải quyết khi bạn có giới thiệu của Thầy Cô hướng dẫn.
 
Tôi muốn biết nghĩa vụ của CB đi đào tạo ở nước ngoài về đối với TV.
-          Cán bộ được cử đi học từ 6 tháng đến 1 năm, khi về trường phải nộp tối thiểu 3 đầu sách gốc chuyên ngành theo học. Đi học từ 1 năm trở lên phải nộp tối thiểu 5 đầu sách gốc chuyên ngành theo học. Sau khi có biên nhận của ban TV-XB, Phòng TCHC mới làm thủ tục nhập trường.
-          Cán bộ bảo vệ thành công Luận án TS. hay ThS. phải nộp  bản luận án cho Thư viện (bản CD ROM và bản in).
 
 
Tôi nghe nói các đơn vị thông tin – thư viện khác cũng thu nhận Luận án của tôi.
Đúng.Luận án sẽ phải nộp lưu chiểu tại Thư viện Trung tâm Đại học Quốc gia Tp. HCM, Thư viện Quốc Gia Việt Nam và một số TV khác.
(Bạn liên hệ trực tiếp để biết cụ thể hơn)
Tôi muốn nộp tài liệu photo có được không ?
Thư viện không nhận sách photo.
Tôi muốn nộp tài liệu điện tử có được không?
Tài liệu điện tử (file, e-books) thường không có bản quyền, chỉ lưu hành nội bộ. Bạn có thể giới thiệu cho TV xem xét để làm tư liệu phục vụ cho nhu cầu học tập và nghiên cứu khi có yêu cầu.
CD-Rom có theo quy định không.
Có, tài liệu định dạng PDF, nhãn dĩa, hộp dĩa theo quy định.
 
Tôi cần tài liệu tham khảo phục vụ nghiên cứu và học tập nhưng thư viện Trường không có, vậy tôi có thể giới thiệu mua không?
-          Trước khi Bạn liên hệ với TV, Bạn cần biết chính xác chỉ số ISBN (In trên Bìa sách), Tên Sách, Tác giả, Năm Xuất bản để thuận lợi cho việc đặt mua. Bạn giới thiệu vào sổ Yêu cầu bạn đọc để tại các phòng đọc. Nếu tài liệu mới và xuất bản trong nước, TV sẽ mua ngay trong tháng. Nếu tài liệu xuất bản đã lâu, chỉ có thể mua ở nơi bán sách cũ. Bạn đọc có thể giới thiệu thêm nơi bán, nếu biết.
-          Riêng đối với CBGD của trường, hàng năm TV đều có đợt khảo sát yêu cầu mua tài liệu, Quý Thầy Cô vui lòng theo dõi và đóng góp ý kiến cho việc mua tài liệu phục vụ nghiên cứu và học tập hiệu quả.
 
Tôi cần tài liệu tham khảo nhưng Thư viện Trường không có, đơn vị khác có tài liệu này. Vậy tôi yêu cầu phục vụ được không?
Được.Bạn vui lòng liên hệ bộ phận Dịch vụ tham khảo ở tầng Trệt A2 để được giúp đỡ.
 
Tôi muốn sử dụng CSDL trực tuyến của TV Trung tâm ĐHQG Tp. HCM.
Bạn vui lòng liên hệ bộ phận Dịch vụ Tham khảo ở tầng trệt A2 để được giúp đỡ.
 
Tôi muốn download tài liệu tại TV được không ?
Được.Bạn download trong thời gian đang ký sử dụng máy tính là 120 phút/ lượt (P. Sau Đại học); 60 phút/ lượt (P. SK-Telecom)
 
Đôi khi CSDL trực tuyến của TV Trung tâm ĐHQG Tp. HCM có vấn đề phải không?
Đúng.Đôi khi Bạn không hài lòng vì một số yếu tố khách quan như tốc độ truy cập mạng, chính sách bổ sung CSDL điện tử cũng như điều kiện về trang thiết bị.
Ngoài ra trong các trường hợp Bạn (hoặc các bạn) download với dung lượng quá mức cho phép của Nhà cung cấp hoặc dùng các phần mềm download tự động, Nhà cung cấp sẽ tự động cắt quyền truy cập của chúng ta.
Bạn vui lòng liên hệ để TV tiếp thu ý kiến, phối hợp TV trung tâm ĐHQG xây dựng nguồn lực thông tin toàn diện và hiệu quả.
</p>
